<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li> <h1>Estudio 1</h1> -  <h3>(years)</h3></li>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aperiam beatae accusamus esse excepturi, a natus officiis saepe aliquam, corrupti ab soluta minima. Facilis atque ducimus esse doloribus, harum quo.
            </p>
        </ul>
        <ul>
            <li> <h1>Estudio 2</h1> -  <h3>(years)</h3></li>
            <p> Lorem ipsum dolor sit ame. Facilis atque ducimus esse doloribus, harum quo.
            </p>
        </ul>
    </div>
    <ul>
     <div>
</div>

