<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Tomas Gatica</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Mi nombre es Tomas, tengo 20 años y hace no mucho qué empece a programar, si bien todavia me queda mucho por aprender me gustaria en un futuro poder trabajar en alguna empresa relacionada a la creacion y desarrollo de videojuegos.</p>
        </span>
    </div>