<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li> <h1>Vendedor de material informatico</h1> -  <h3>(1 years)</h3></li>
            <p> Anteriormente me dedicaba a la venta de componentes informaticos referente a computadoras entre otras cosas, tengo una buena experiencia en lo que a hardware y dispositivos electronicos se refiere.
            </p>
        </ul>
        <ul>
            <li> <h1>Mecanica Automotriz</h1> -  <h3>(6 months)</h3></li>
            <p> Durante 6 meses estuve trabajando en un taller mecanico donde aprendí a reparar y reemplazar piezas de distintos tipos y modelos de autos, entre muchisimas cosas. 
            </p>
        </ul>
    </div>
    <ul>
     <div>
</div>
